// sass ./assets/sass/style.scss ./assets/css/style.css -w

$primaryColor: #ff5d31;
$textColor: #656689;
$headingColor: #000958;
$headingColorLight: #48496a;
$sectionColor: #5e6085;
$pricingColor: #ff5b2e;
