* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: #fffaf5;
}

@import './variable';

.container {
    max-width: 1170px;
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    font-weight: 600;
    font-size: 1.4rem;
    color: $primaryColor;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        inset: 0;
        border: 1px solid currentColor;
        border-radius: 999px;
        opacity: 0.6;
        transition: all 0.2s linear;
    }

    &:hover {
        color: #fff;
        position: relative;
        &::before {
            background: currentColor;
            opacity: 1;
            z-index: -1;
        }
    }

    &__icon {
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        color: $primaryColor;
        box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
        transition: all 0.2s linear;
    }
}
.section {
    &__heading {
        font-family: 'Sora', sans-serif;
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 1.19;
        color: $headingColor;
    }

    &__title {
        font-family: 'Sora', sans-serif;
        font-weight: 600;
        line-height: 1;
        color: $sectionColor;
    }

    &__desc {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.88;
        color: $textColor;

        &--small {
            font-size: 1.4rem;
            line-height: 1.71;
        }

        &--large {
            font-size: 1.8rem;
            line-height: 1.56;
        }
    }
}

@mixin line-clamp($lineClamp: 1) {
    max-width: 391px;
    display: -webkit-box;
    -webkit-line-clamp: $lineClamp;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
}

// Header
@import './header';

// Hero
@import './hero';

// About
@import './about';

// Service
@import './service';
