* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

.container {
  max-width: 1170px;
  width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  --height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  font-weight: 600;
  font-size: 1.4rem;
  color: #ff5d31;
  text-align: center;
  position: relative;
}
.btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  inset: 0;
  border: 1px solid currentColor;
  border-radius: 999px;
  opacity: 0.6;
  transition: all 0.2s linear;
}
.btn:hover {
  color: #fff;
  position: relative;
}
.btn:hover::before {
  background: currentColor;
  opacity: 1;
  z-index: -1;
}
.btn__icon {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #ff5d31;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
  transition: all 0.2s linear;
}
.btn--circle {
  min-width: var(--height);
}
.btn--circle::before {
  position: absolute;
  width: var(--height);
  height: var(--height);
}

.section__heading {
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  color: #000958;
}
.section__title {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #5e6085;
}
.section__desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}
.section__desc--small {
  font-size: 1.4rem;
  line-height: 1.71;
}
.section__desc--large {
  font-size: 1.8rem;
  line-height: 1.56;
}

.header {
  padding: 26px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-action {
  display: flex;
  align-items: center;
}
.header-action__btn {
  --height: 50px;
  min-width: 117px;
  color: #000958;
}
.header-action__btn:hover {
  color: #fff;
}
.header-action__btn:hover::before {
  color: #000958;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  display: block;
  margin-right: 10px;
}
.logo__brand {
  font-family: "Sora", sans-serif;
  font-weight: 900;
  color: #000958;
  font-size: 2.3rem;
  line-height: 1;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__link {
  display: inline-block;
  padding: 18px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
}
.navbar__link:hover {
  text-shadow: 0.5px 0px 0px currentColor, -0.5px 0 0 currentColor;
  color: #000958;
}

.hero {
  padding: 77px 0;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}
.hero__media {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}
.hero__img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 388px;
  height: 488px;
  background: #fe997b;
  border: 3px solid #fff;
  border-radius: 16px;
}
.hero__img-wrap--small {
  width: 186px;
  height: 244px;
  background: #faa7ad;
  align-self: flex-end;
  margin-bottom: -58px;
  margin-left: -23px;
  border: 2px solid #f7dddf;
}
.hero__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.hero__decor {
  position: absolute;
  z-index: -1;
}
.hero__decor--left {
  bottom: 10px;
  left: -58px;
}
.hero__decor--right {
  top: 17px;
  right: -41px;
}
.hero__list {
  position: absolute;
  bottom: 0;
  left: 129px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
  height: 156px;
  background: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
  padding: 18px 14px;
}
.hero-list-item {
  display: flex;
  align-items: center;
}
.hero-list-item__thumb {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  background: #fec23f;
}
.hero-list-item:nth-of-type(even) .hero-list-item__thumb {
  background: #c6e2fa;
}
.hero-list-item__info {
  margin-left: 10px;
}
.hero-list-item__title {
  font-size: 1.4rem;
  color: #181e52;
}
.hero-list-item__skeleton {
  margin-top: 6px;
  width: var(--width, 118px);
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}
.hero-list-item__separate {
  display: block;
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  border-radius: 999px;
}
.hero__heading {
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
}
.hero__desc {
  margin-top: 24px;
  max-width: 391px;
}
.hero__row {
  display: flex;
  margin-top: 38px;
  align-items: center;
}
.hero__cta-btn {
  --height: 60px;
  min-width: 190px;
  font-size: 1.6rem;
  color: #fff;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 999px;
}
.hero__cta-btn::before {
  color: #ff5d31;
  background-color: currentColor;
  opacity: 1;
  z-index: -1;
}
.hero__cta-btn:hover {
  color: #ff5d31;
}
.hero__cta-btn:hover::before {
  border-color: #ff5d31;
  background-color: #fff;
}
.hero__cta-btn:hover .btn__icon {
  background: #ff5d31;
  color: #fff;
}
.hero__cta-link {
  margin-left: 12px;
  padding: 12px 12px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  color: #000958;
  transition: color 0.23s ease;
}
.hero__cta-link:hover {
  color: #ff5d31;
}

.about {
  padding: 60px 0;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}
.about__label {
  color: #5e6085;
  font-size: 1.6rem;
}
.about__heading, .about__desc {
  max-width: 444px;
}
.about__heading {
  margin-top: 15px;
}
.about__desc {
  margin-top: 24px;
}
.about__checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 34px 36px;
}
.about__check-item {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}
.about__check-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}
.about__check-item::after {
  content: url(../images/icon/check.svg);
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
}
.about__media {
  position: relative;
}
.about__card {
  width: 136px;
  padding: 30px 26px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 165px;
  left: 0;
}
.about__card-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  color: #fff;
}
.about__card-desc {
  margin-top: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #c6f4f9;
}
.about__card-decor {
  position: absolute;
  top: -39px;
  right: -32px;
}
.about__img-wrapper {
  position: relative;
  width: 494px;
  margin-left: auto;
}
.about__img-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
  z-index: -1;
}
.about__img-wrapper-bottom {
  width: 458px;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
  margin-left: 0;
}
.about__img-wrapper-bottom::after {
  content: none;
}
.about__img {
  width: 450px;
  display: block;
  margin: 0 auto;
}
.about__img-bottom {
  width: 100%;
}
.about__media-decor {
  position: absolute;
  top: 157px;
  right: -51px;
  z-index: -1;
}
.about__decor-img {
  position: absolute;
}
.about__decor-img:first-child {
  top: 13px;
  right: 64px;
}
.about__decor-img:nth-child(2) {
  top: -16px;
  right: 13px;
}
.about__decor-img:nth-child(3) {
  top: 33px;
  right: -21px;
}
.about__decor-img:nth-child(4) {
  top: 268px;
  left: calc(100% + 10px);
}
.about__decor-img:nth-child(5) {
  top: 336px;
  right: 19px;
}
.about__decor-img:nth-child(6) {
  bottom: -40px;
  right: -23px;
}
.about__decor-img:nth-child(7) {
  bottom: -46px;
  right: -32px;
}
.about__decor-img:nth-child(8) {
  bottom: -54px;
  right: -42px;
}
.about__desc-bottom {
  width: 511px;
  margin-bottom: 50px;
}
.about .tab__list {
  display: inline-flex;
  position: relative;
  column-gap: 56px;
}
.about .tab__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  opacity: 0.07;
  border-radius: 2px;
  background-color: #ff5b2e;
}
.about .tab__item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.about .tab__item--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  opacity: 0.07;
  border-radius: 2px;
  background-color: #ff5b2e;
  bottom: 0;
  width: 95px;
  opacity: 1;
}
.about .tab__icon {
  width: 24px;
}
.about .tab__title {
  font-size: 1.8rem;
  color: #48496a;
}
.about .tab__contents {
  padding-top: 36px;
}
.about .tab__content-item {
  display: none;
}
.about .tab__content-item--active {
  display: block;
}
.about .tab__content-desc {
  max-width: 391px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}
.about .tab__content-more {
  display: inline-block;
  position: relative;
  margin-top: 32px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #ff5d31;
}
.about .tab__content-more::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  opacity: 0.07;
  border-radius: 2px;
  background-color: #ff5b2e;
  opacity: 1;
  height: 1.5px;
}

.service {
  margin-top: 130px;
  padding: 68px 0 100px;
  background: #fff6ed;
}
.service__top {
  text-align: center;
}
.service__desc {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.service__body {
  margin-top: 71px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 71px;
}
.service .service-item {
  padding: 30px 22px 30px 28px;
  width: 294px;
  background: #fff;
  border: 2px solid rgba(255, 188, 122, 0.26);
  border-radius: 10px;
}
.service .service-item__heading {
  font-size: 2.2rem;
  color: #000958;
  display: flex;
  align-items: center;
}
.service .service-item__heading::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 2px;
  height: 22px;
  background: linear-gradient(#ff5b2e, #ffa187);
  border-radius: 99px;
}
.service .service-item__desc {
  margin-top: 18px;
  max-width: 391px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}
.service .service-item__more {
  display: inline-flex;
  align-items: center;
  font-family: "Sora", sans-serif;
  margin-top: 24px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #34396a;
}
.service .service-item__more::after {
  content: url(../images/icon/arrow-up-right.svg);
  margin-left: 6px;
  margin-top: 1px;
}
.service .service-item__more:hover {
  color: #ff5d31;
}
.service .service-item + .service-item {
  margin-top: 24px;
}
.service__media {
  position: relative;
  margin-top: 18px;
}
.service__media::after {
  content: "";
  position: absolute;
  display: block;
  height: 350px;
  left: 15px;
  right: 15px;
  bottom: 0;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}
.service__img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}
.service__cta-wrap {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.service__cta-btn {
  min-width: 214px;
  color: #ff5d31;
  z-index: 1;
}
.service__cta-btn:hover {
  color: #fff;
}
.service__cta-btn:hover::before {
  color: #ff5d31;
}

.staff {
  padding: 130px 0;
}
.staff__desc, .staff__heading {
  text-align: center;
}
.staff__desc {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.staff__list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}
.staff .staff-item {
  text-align: center;
}
.staff .staff-item__img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}
.staff .staff-item__img-wrap::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 94%;
  border-radius: inherit;
  background-color: var(--bg, #90ccff);
}
.staff .staff-item__img-wrap::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: calc(100% + 36px);
  height: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.staff .staff-item:nth-child(1) .staff-item__img-wrap::after {
  background-image: url(../images/staff/staff_decor_01.svg);
}
.staff .staff-item:nth-child(2) .staff-item__img-wrap::after {
  background-image: url(../images/staff/staff_decor_02.svg);
}
.staff .staff-item:nth-child(3) .staff-item__img-wrap::after {
  background-image: url(../images/staff/staff_decor_03.svg);
}
.staff .staff-item:nth-child(4) .staff-item__img-wrap::after {
  background-image: url(../images/staff/staff_decor_04.svg);
}
.staff .staff-item:nth-child(even) .staff-item__img-wrap::after {
  background-position: 0 19px;
}
.staff .staff-item__img {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
  border-radius: inherit;
}
.staff .staff-item__title {
  margin-top: 34px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}
.staff .staff-item__name {
  margin-top: 14px;
  font-size: 2.2rem;
  color: #000958;
}
.staff__cta-wrap {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.staff__cta-btn {
  min-width: 193px;
  z-index: 1;
}
.staff__cta-btn:hover {
  color: #fff;
}
.staff__cta-btn:hover::before {
  color: #ff5d31;
}

.pricing {
  padding: 86px 0;
  background: #fff6ed;
}
.pricing__container {
  max-width: 994px;
}
.pricing__top {
  max-width: 710px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.pricing__desc {
  margin-top: 24px;
}
.pricing__switch-wrap {
  position: relative;
  margin-top: 38px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.pricing__switch {
  position: relative;
}
.pricing__switch-input {
  display: none;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
  left: calc(100% - 131px);
  width: 131px;
}
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-child(2) {
  color: #fff;
}
.pricing__switch-input:checked ~ .pricing__save {
  display: block;
  opacity: 1;
}
.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-child(1) {
  color: #fff;
}
.pricing__switch-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 276px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  border-radius: 999px;
  color: #ff5d31;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
}
.pricing__switch-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: inline-block;
  width: 144px;
  height: 56px;
  background: #ff5b2e;
  border-radius: inherit;
  z-index: -1;
  transition: 0.24s linear;
}
.pricing__switch-value {
  height: 56px;
  padding: 20px 40px;
  cursor: pointer;
  text-align: center;
}
.pricing__save {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% + 24px), -10px);
  opacity: 1;
  transition: opacity 0.4s ease;
}
.pricing__list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
}
.pricing-item {
  padding: 30px 28px;
  background: #fff;
  border-radius: 20px;
}
.pricing-item:hover {
  box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}
.pricing-item__type {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #ff5b2e;
}
.pricing-item__heading {
  margin-top: 8px;
  font-size: 1.8rem;
  color: #3f4065;
}
.pricing-item__price {
  margin-top: 24px;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.03;
  color: #000958;
}
.pricing-item__btn {
  --height: 44px;
  margin-top: 36px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 999px;
  background-color: #fff;
  color: #ff5b2e;
  font-weight: 500;
  font-size: 1.6rem;
  z-index: 1;
  cursor: pointer;
}
.pricing-item__btn::before {
  color: currentColor;
}
.pricing-item__btn:hover::before {
  background: #ff5b2e;
}
.pricing-item__list {
  margin-top: 24px;
}
.pricing-item__item {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
  display: flex;
  align-items: center;
}
.pricing-item__item::before {
  content: url(../images/icon/price-check.svg);
  display: inline-block;
  margin-right: 14px;
}
.pricing-item__item--inactive::before {
  opacity: 0.4;
}
.pricing-item__item + .pricing-item__item {
  margin-top: 18px;
}

.review {
  padding: 52px 0 0;
}
.review__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review__btn {
  border: none;
  outline: none;
  background: #fff;
  margin-top: 0px;
  color: #ff5b2e;
  z-index: 1;
}
.review__btn:hover {
  cursor: pointer;
  color: #fff;
}
.review__btn:hover::before {
  color: #ff5b2e;
}
.review__btn--right {
  transform: rotateY(180deg);
}
.review__list {
  display: flex;
  margin: 0 44px;
  width: 100%;
  overflow: hidden;
}
.review__item {
  --bgImg: #ffda54;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
  min-width: 100%;
  position: relative;
}
.review__media {
  height: 507px;
}
.review__img-wrap {
  width: 274px;
  height: 427px;
  flex-shrink: 0;
  border-radius: 137px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.review__img-wrap::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 350px;
  border-radius: inherit;
  background: var(--bgImg);
  z-index: -1;
}
.review__img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
.review__content {
  max-width: 553px;
}
.review__desc {
  margin-top: 24px;
  color: #000;
}
.review__name {
  margin-top: 34px;
  display: flex;
  align-items: center;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #282828;
}
.review__name::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  margin-right: 8px;
  background: #000;
  border-radius: 99px;
}
.review__slider-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  gap: 8px;
}
.review__tick {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ff5b2e;
  cursor: pointer;
  transition: 0.5s linear;
}
.review__tick--active {
  cursor: default;
  width: 24px;
  border-radius: 999px;
  background: #ff5b2e;
}

/*# sourceMappingURL=style.css.map */
